.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background: rgba(20, 20, 20, 0.6);
    padding: 20px;
    font-size: 20px;
    flex-direction: column;
}
.wrapper--input{

}

.error {
    background-color: red;
    /*background: rgba(20, 20, 20, 0.6);*/

}

button{
    cursor: pointer;
}
button, .name{
    margin-top: 20px;
    padding: 2px 8px;
    background-color: hsl(0,0%,100%);
    border-color: hsl(0,0%,80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    min-height: 38px;
    font-size: 20px;
    outline: 0 !important;
}
